<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <h1><a href="/">My Blog</a></h1>
            <div class="btns">
                <a href="/drafts" class="btn btn-1">See drafts</a>
                <a href="/create" class="btn">New Post</a> 
            </div>
        </div>
    </nav>
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>