{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

{% if is_draft %}
  <div class="draft-banner">
    Draft preview — not published
  </div>
{% endif %}

{% if post %}
<article class="post-full">
    <h2>{{ post.title }}</h2>
    <p class="meta">{{ post.author }} - {% if post.is_published and post.published_at %}
        <!-- {{ post.published_at.strftime('%d.%m.%Y %H:%M') }} -->
          {{ post.published_at.strftime('%d.%m.%Y') }}
  {% else %}
    Draft
  {% endif %}
</p>
    <div class="content">
        {{- post.content | trim }}
    </div>

    <div class="post-navigation">
        {% if previous_post %}
            <a href="/post/{{previous_post.slug}}" class="post-nav prev">← Previous</a>
        {% endif %}

        <a href="/" class="post-nav more">See More</a>
        
        {% if next_post %}
            <a href="/post/{{next_post.slug}}" class="post-nav next">Next → </a>
        {% endif %}
    </div>

    <div class="post-actions">
        {% if is_draft %}
        <form method="post" action="/post/{{ post.id }}/publish" style="display:inline">
          <button class="btn-publish">Publish</button>
        </form>

        <form action="/post/{{ post.id }}/delete" method="post" style="display:inline;">
            <button type="submit" class="btn-delete"
                onclick="return confirm('Are you sure you want to delete this draft?')">
                Delete
            </button>
        </form>

        {% else %}
        <form method="post" action="/post/{{ post.id }}/unpublish" style="display:inline">
          <button class="btn-unpublish">Unpublish</button>
        </form>

        <form action="/post/{{ post.id }}/delete" method="post" style="display:inline;">
            <button type="submit" class="btn-delete"
                onclick="return confirm('Are you sure you want to delete this post?')">
                Delete
            </button>
        </form>
        {% endif %}

        <a href="/post/{{post.id}}/edit" class="btn-edit">Edit</a>
    </div>
</article>
{% else %}
<p>Post Not Found</p>
{% endif %}
{% endblock %}
